* {
  box-sizing: border-box
}


.loaded {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background-color: slateblue;
  padding: 20px;
  text-align: center;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: violet;
}

.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover{
  background-color: lightpink;
  color: black;
}

.column {
  float: left;
  width: 25%;
  padding-right: 15px;
  padding-left: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

.column.middle.images{
  width: 100%;
}

#S {
  color: purple;
  font-weight: bold;
}
.row:after {
  content:"";
  display: table;
  clear: both;
}

footer {
  overflow: hidden;
  background-color: slateblue;
  color: white;
}

footer p {
  padding: 10px;
}

@media screen and (max-width: 600px;) {
  .column.side .column.middle {
    width: 100%;
  }
}
